<!-- Footer Section -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="../../assets/data/Logos /logo.png">
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <!-- <div class="footer-section contact">
        <h2>Contact Us</h2>
        <ul>
          <li>Email: info@futury.com</li>
          <li>Phone: +123 456 7890</li>
        </ul>
      </div> -->
    </div>
  </footer>
  
  <!-- Copyright Section -->
  <div class="footer-bar">
    @Futury.com
  </div>
  
