// .contact-us-container {
//     margin: 0 auto;
//     padding: 20px;
//     background-color: #f9f9f9;
//     border: 1px solid #ccc;
   

    section {
        margin-bottom: 20px;
    }

    .contact-heading h1 {
        text-align: center;
        color: #333;
        font-size: 2rem;
        font-weight: bold;
        padding: 35px;
    }

    .contact-description p {
        text-align: center;
        color: #666;
    }

     .subscription, .contact-info {
        background-color: #ffffff;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding-left: 250px;
        padding-right: 250px;
        text-align: center;

    }

    .contact-form {
        background-color: #ffffff;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 250px;
        padding-right: 250px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }
    }

    button {
        width: 20%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }

        &[disabled] {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    .contact-info {
        h2 {
            color: #333;
            margin-bottom: 10px;
        }

        p {
            margin: 5px 0;
            color: #666;
        }

        a {
            color: #007bff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }


    @media (max-width: 768px) {
        .contact-form {
            padding-left: 10px;
            padding-right: 10px;
        }

        .subscription, .contact-info {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 768px) {
        .form-group input {
            width: 90%; // Set width to 80% on smaller screens
        }

        .form-group textarea  {
            width: 90%;
        }

        .form-group button {
            width: 25%;
        }
    }